# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
*.ipynb_checkpoints/
test.ipynb

# Results and plots
results/
results/plots/

# Build artifacts from plugins
plugins/layernorm/*.o
plugins/layernorm/*.so
plugins/layernorm/*.cu.obj
plugins/layernorm/build/
plugins/layernorm/dist/
plugins/layernorm/*.egg-info/

# OS files
.DS_Store
Thumbs.db